# Luuvy Kernel Spectrum Profile Manager
# Property triggers for kernel performance profiles
# Compatible with Spectrum app & Franco Kernel Manager

# Luuvy Profiles
# Balance (default profile)
on property:persist.luuvy.profile=balance
	#/* Max CPU control Big*/
	  chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
	  chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	#/* Min CPU control Big*/
	  chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 960000
	  chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	 #/* Max CPU control little*/
	  chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
	  chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	#/* Min CPU control little*/
	  chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 768000
	  chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	#/*lainnya*/
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil

	  chmod 644 /sys/module/workqueue/parameters/power_efficient
	  write /sys/module/workqueue/parameters/power_efficient y

	# GPU
	  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 475000000
	  write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 216
	  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
	  write /sys/kernel/gpu/gpu_min_clock 216
	  write /sys/kernel/gpu/gpu_max_clock 475

# Performance
on property:persist.luuvy.profile=performance
	  #/* Max CPU control Big*/
	  chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
	  chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	#/* Min CPU control Big*/
	  chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 960000
	  chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	 #/* Max CPU control little*/
	  chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
	  chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	#/* Min CPU control little*/
	  chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 768000
	  chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	#/*lainnya*/
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor performance
	  chmod 644 /sys/module/workqueue/parameters/power_efficient
	  write /sys/module/workqueue/parameters/power_efficient N

	# GPU
	  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 475000000
	  write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 300
	  write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
	  write /sys/kernel/gpu/gpu_min_clock 300
	  write /sys/kernel/gpu/gpu_max_clock 475

# Battery
on property:persist.luuvy.profile=battery
	  #/* Max CPU control Big*/
	  chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
	  chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	#/* Min CPU control Big*/
	  chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 960000
	  chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	 #/* Max CPU control little*/
	  chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
	  chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	#/* Min CPU control little*/
	  chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 768000
	  chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	#/*lainnya*/
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor powersave
	  chmod 644 /sys/module/workqueue/parameters/power_efficient
	  write /sys/module/workqueue/parameters/power_efficient Y

	# GPU
	  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 450000000
	  write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 216
	  write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
	  write /sys/kernel/gpu/gpu_min_clock 216
	  write /sys/kernel/gpu/gpu_max_clock 450

# Gaming
on property:persist.luuvy.profile=gaming
	  #/* Max CPU control Big*/
	  chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
	  chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	#/* Min CPU control Big*/
	  chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 960000
	  chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	 #/* Max CPU control little*/
	  chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
	  chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	#/* Min CPU control little*/
	  chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 768000
	  chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	#/*lainnya*/
	  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
	  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor performance
	  chmod 644 /sys/module/workqueue/parameters/power_efficient
	  write /sys/module/workqueue/parameters/power_efficient N

	# GPU
	  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 475000000
	  write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 375
	  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
	  write /sys/kernel/gpu/gpu_min_clock 375
	  write /sys/kernel/gpu/gpu_max_clock 475


# Profile bridges: Spectrum
# Balanced
on property:persist.spectrum.profile=0
	setprop persist.luuvy.profile balance

# Performance
on property:persist.spectrum.profile=1
	setprop persist.luuvy.profile performance

# Battery
on property:persist.spectrum.profile=2
	setprop persist.luuvy.profile battery

# Gaming
on property:persist.spectrum.profile=3
	setprop persist.luuvy.profile gaming


# Profile bridges: Franco Kernel Manager
# Powersave
on property:fku.perf.profile=0
	setprop persist.spectrum.profile 2

# Balance
on property:fku.perf.profile=1
	setprop persist.spectrum.profile 0

# Performance
on property:fku.perf.profile=2
	setprop persist.spectrum.profile 1

# Spectrum detection (on boot)
on property:sys.boot_completed=1
	setprop spectrum.support 1
	setprop fku.profiles 1
	setprop persist.spectrum.kernel Luuvy.C.
